body {
	background: #4c5054;
}
header {
	color: #FFFFFF;
}
footer {
	color: #FFFFFF;
	/*position: fixed;*/
	/*bottom: 0;*/
}
#main {
	background: #FFFFFF;
	display: block;
	padding: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#categories {
	width: 150px;
	height: 100%;
}
#categories .btn {
	display: block;
	text-align: left;
}
#categories .btn:hover {
	background: #f1f1f1;
}
#content {
}